*.egg-info/
*.elc
*.html
*.log
*.pyc
*.swp
*\#*
*\#*
*~
*~
.DS_Store
.directory
.history
.mypy_cache
.stignore
.swp
.vagrant
.vscode
GPATH
GPATH
GRTAGS
GRTAGS
GTAGS
GTAGS
Pipfile.lock
build/
dist/
gmon.out
nohup.out
tmp/*
tmp/*
var/*
var/*/*
~$*
